<form action="/signin" method="get">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= params[:username] || "" %>">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Sign In">
  </div>
</form>
